{% extends "base.html" %}


{% block content%}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="p-5 mb-3">
    <h1>{% translate 'Updating a user' %}</h1>

    <form action="{% url 'user_update' pk=user.id %}" method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% translate "Update" as update %}
        {% bootstrap_button button_type="submit" content=update button_class="btn btn-dark"%}
    </form>
</div>
{% endblock %}