{% extends "base.html" %}

{% block content%}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container row p-5">
  <h1>{% translate 'Users' %}</h1>
</div>
<div class="col p-5">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate 'Username' %}</th>
        <th scope="col">{% translate 'Full name' %}</th>
        <th scope="col">{% translate 'Created at' %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
      <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.created_at|date:"d-m-Y h:s" }}</td>
        <td>
          <a href="{% url 'user_update' user.pk %}">{% translate 'Update' %}</a>
          <br>
          <a href="{% url 'user_delete' user.pk %}">{% translate 'Delete' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}