{% extends "base.html" %}

{% block content%}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container row p-5">
  <h1>{% translate 'Statuses' %}</h1>
  <form action="{% url 'status_create' %}" class="form">
      {% translate "Create a status" as create_a_status %}
      {% bootstrap_button button_type="submit" content=create_a_status button_class="btn btn-dark"%}
  </form>
</div>
<div class="col p-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate 'Name' %}</th>
        <th scope="col">{% translate 'Created at' %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for status in status_list %}
      <tr>
        <th scope="row">{{ status.id }}</th>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:"d-m-Y h:s" }}</td>
        <td>
          <a href="{% url 'status_update' status.id %}">{% translate 'Update' %}</a>
          <br>
          <a href="{% url 'status_delete' status.id %}">{% translate 'Delete' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}