{% extends "base.html" %}

{% block content%}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="d-grid container gap-1">
<div class="ml-6 pl-6 mb-2">
  <h1>{% translate 'Statuses' %}</h1>
</div>
<div class="ml-6 pl-6 mb-2">
  <a class="btn btn-dark button_type=submit" role="button" href="{% url 'status_create' %}">{% translate 'Create a status' %}</a>
</div>
  <div class="ml-6 pl-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate 'Name' %}</th>
        <th scope="col">{% translate 'Created at' %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for status in status_list %}
      <tr>
        <th scope="row">{{ status.id }}</th>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:"d-m-Y h:s" }}</td>
        <td>
          <a href="{% url 'status_update' status.id %}">{% translate 'Update' %}</a>
          <br>
          <a href="{% url 'status_delete' status.id %}">{% translate 'Delete' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}