{% extends "base.html" %}

{% block content%}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="p-5 mb-3">
    <h1>{% translate 'Deleting a task' %}</h1>
    <p>{% translate 'Are you sure you want to delete' %} {{task.name}}?</p>

    <form action="{% url 'task_delete' task.id %}" method="post" class="form">
        {% csrf_token %}
        {% translate "Yes, delete" as yes_delete %}
        {% bootstrap_button button_type="submit" content=yes_delete button_class="btn btn-dark"%}
    </form>
</div>
{% endblock %}