{% extends "base.html" %}

{% block content%}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container row p-5">
<h1>Задачи</h1>
<form action="{% url 'task_create' %}" method="get" class="form">

    {% bootstrap_button button_type="submit" content="Создать задачу" button_class="btn btn-dark"%}
</form>
</div>


<div class="card container col p-5" style="width: 90rem;  background-color: #eee;">
    <form action="" method="get" class="form">

        {% bootstrap_form filter.form %}

        {% bootstrap_button button_type="submit" content="Показать" button_class="btn btn-dark"%}

    </form>
</div>

<div class="col p-5">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Статус</th>
        <th scope="col">Автор</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Дата создания</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in filter.qs %}
      <tr>
        <th scope="row">{{ task.id }}</th>
        <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author.first_name }} {{ task.author.last_name }}</td>
        <td>{{ task.executor.first_name|default_if_none:""}} {{ task.executor.last_name}}</td>
        <td>{{ task.created_at|date:"d-m-Y h:s" }}</td>
        <td>
          <a href="{% url 'task_update' task.id %}">Изменить</a>
          <br>
          <a href="{% url 'task_delete' task.id %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}